nav{
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid black;
}
.prev-box ,.next-box{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(232, 60, 60);
    margin-top: 8px ;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.prev,.next{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 18px;
}
.prev{
    border-right: 14px solid #fff;
    left: 32px;
}
.next{
    border-left: 14px solid #fff;
    left: 145px;
}
.leftprev,.rightnext{
    width: 3px;
    height: 16px;
    background-color: #fff;
    margin-top: 10px;

}
.leftprev{
    margin-left: 8px;
}
.rightnext{
    margin-left: 25px;
}
.ctrl-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(232, 60, 60);
    margin-top: 5px ;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

.start,.end{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    color: #696969;
}
.line{
    float: left;
    width: 200px;
    height: 8px;
    background-color: #ccc;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.play{
    width: 8px;
    height: 20px;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
    top: 15px;
    left: 89px;
    display: none;
}
.pause{
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-left: 18px solid #fff;
    border-bottom: 11px solid transparent;
    position: absolute;
    top: 15px;
    left: 88px;

}

.circle,.volume-circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(232, 60, 60);
    margin-top: -2px;
}
.volume{
    width: 17px;
    height: 15px;
    border-top: 10px solid transparent;
    border-right: 19px solid rgb(232, 60, 60);
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: 7px;
    right: 90px;
}
.volume-line{
    width: 80px;
    height: 7px;
    background-color: #ccc;
    position: absolute;
    bottom: 20px;
    right: 5px;
    cursor: pointer;
}